import pandas as pd
import sqlite3


class Storage(object):
    def __init__(self, db_path):
        self.db_path = db_path

    def create_tables(self):   # Init data table
        self.cursor.execute("CREATE TABLE `deaths_total` ("
                            "`Country` VARCHAR NOT NULL,"
                            "`Date` DATE NOT NULL,"
                            "`Death` INTEGER NOT NULL;")

        self.cursor.execute("CREATE TABLE `deaths_change_python` ("
                            "`Country` VARCHAR NOT NULL,"
                            "`Death_change` INTEGER NOT NULL;")

    def __enter__(self):
        self.connection = sqlite3.connect(self.db_path)
        self.cursor = self.connection.cursor()

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.connection.commit()
        self.cursor.close()



    def to_sql(df):
        df.to_sql('deaths_total', self.connection, if_exists='replace', index=False )


def death_total_df(url):
    df = pd.read_csv(url).drop(['Province/State', 'Lat', 'Long'], axis=1)
    df = df.melt(id_vars=['Country/Region'], var_name='Date', value_name='Death')
    df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%y')


def main():
    url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'


    print(df.head())
    print(df.info())

if __name__ == '__main__':
    main()

